<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whatsmename.hal9000"
    android:versionCode="1"
    android:versionName="0.1" android:installLocation="preferExternal">

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="21" />
    
    <uses-permission android:name="android.permission.ACCESS_SUPERUSER"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/hal_9000"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.whatsmename.hal9000.HAL9000"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.whatsmename.hal9000.DisplayMessageActivity"
            android:label="@string/title_activity_display_message"
            android:parentActivityName="com.whatsmename.hal9000.activity_hal" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.whatsmename.hal9000.activity_hal" />
        </activity>
    </application>
</manifest>